# Dependencies
node_modules/

# Build output
build/

# Bun lock (opsional)
bun.lock

# npm lock (jika ada)
package-lock.json

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
